*.rar
*.o
*.d
*.axf
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.uvoptx
*.dbg*
*.uvguix.*
.mxproject
c_cpp_properties.json
keil-assistant.log
settings.json
uv4.log
MDK-ARM/.vscode/
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex
MDK-ARM/ERCP/ERCP.axf
MDK-ARM/JLinkLog.txt
